<div style="min-height: 100%;background-color: #181818;">
    <button mat-fab class="header_btn" (click)="goHome()">
        <img src="assets/images/home_icon.png" width="50%">
    </button>
    <div style="
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 30px;
        padding-top: 100px;animation: cards-load 1.2s;flex-wrap: wrap;">

        <div id="card">
            <span>
                INFORMATION
            </span>
            <span>
                <img class="card_img" src="assets/images/details_logo.png">
            </span>
            <span>
                Phone Number :
                <br>
                03-999-9999
                <br>
                Email address :
                <br>
                company@example.com
            </span>
        </div>
        <div id="card">
            <span>
                LOCATION
            </span>
            <span> <img class="location_img" src="assets/images/new_location.png">
            </span>
            <span>
                VISIT US
                <br>
                Address :
                <br>
                Holon-Central,Israel
            </span>
        </div>
        <div id="card">
            <span>

                OFFICE-HOURS
            </span>
        <span>
            <img class="clock_img" src="assets/images/clock_logo.png">
        </span>
        <span>
            OFFICE HOURS :
                    <br>
                    <br>
                    Sunday - 08:00 - 14:00
                    <br>
                    Monday - 07:30 - 15:30
        </span>
        </div>


    </div>

</div>
<!-- <div class="container_element1">
    <img class="card_img" src="assets/images/details_logo.png">
    <div id="header" >
        INFORMATION
    </div>
    <div id="content" >
        Phone Number :
        <br>
        03-999-9999
        <br>
        Email address :
        <br>
        company@example.com
    </div>
</div>
<div class="container_element2">
    <img class="location_img" src="assets/images/new_location.png">
    <div id="header">
        VISIT US
    </div>
    <div id="content">
        Address :
        <br>
        Holon-Central,Israel
    </div>
</div>
<div class="container_element3">
    <img class="card_img" src="assets/images/clock_logo.png">
    <div id="header">
        OFFICE HOURS :
        <br>
        <br>
        Sunday - 08:00 - 14:00
        <br>
        Monday - 07:30 - 15:30
    </div>
</div> -->