<div class="container">
    <section style="height: 350px;">
        <div class="header_img_div">
            <!-- <button mat-fab class="header_btn" (click)="goToHome()">
                <img src="assets/images/home_icon.png" width="50%">
            </button> -->
            <button mat-flat-button color="white" class="contact_btn" (click)="goToHome()">HOME</button>
        </div>
    </section>
    <section style="min-height: 100vh;">
        <mat-tab-group mat-align-tabs="center" (selectedIndexChange)="IndexChanged($event)">




            <mat-tab label="Libraries">
                <div style="display: flex;justify-content: space-evenly; margin :15px;align-items: center;">
                    <div style="display: flex;justify-content: center;align-items: center;">
                        <img src="assets/images/list.png" width="20px">
                        <mat-slide-toggle (click)="changeView()" style="margin: 15px;"></mat-slide-toggle>
                        <img src="assets/images/cards.png" width="20px">
                    </div>
                    <span style="font-size: 40px;text-shadow: 0px 0px 5px;">Libraries</span>
                </div>
                <div *ngIf="this.showTable">
                    <button mat-fab color="primary" class="add_btn" (click)="add()">+</button>
                    <div class="table_container">
                        <app-table [tableColumn]="this.librariesTableColumns" [tableData]="this.librariesTableData"
                            (deleteLibrary)="deleteLibrary($event)"></app-table>
                    </div>
                </div>
                <div *ngIf="!this.showTable">
                    <app-cards [tableColumn]="this.librariesTableColumns" [tableData]="this.librariesTableData">
                    </app-cards>
                </div>
            </mat-tab>



            <mat-tab label="Customers">
                <div style="display: flex;justify-content: space-evenly; margin :15px;align-items: center;">
                    <div style="display: flex;justify-content: center;align-items: center;">
                        <img src="assets/images/list.png" width="20px">
                        <mat-slide-toggle (click)="changeView()" style="margin: 15px;"></mat-slide-toggle>
                        <img src="assets/images/cards.png" width="20px">
                    </div>
                    <span style="font-size: 40px;text-shadow: 0px 0px 5px;">Customers</span>
                </div>
                <div *ngIf="this.showTable">

                    <button mat-fab color="primary" class="add_btn" (click)="add()">+</button>
                    <div class="table_container">
                        <app-table [tableColumn]="this.customersTableColumns" [tableData]="this.customersTableData"
                            (deleteCustomer)="deleteCustomer($event)"></app-table>
                    </div>
                </div>
                <div *ngIf="!this.showTable">
                    <app-cards [tableColumn]="this.customersTableColumns" [tableData]="this.customersTableData">
                    </app-cards>
                </div>

            </mat-tab>


            <mat-tab label="Books">
                <div style="display: flex;justify-content: space-evenly; margin :15px;align-items: center;">
                    <div style="display: flex;justify-content: center;align-items: center;">
                        <img src="assets/images/list.png" width="20px">
                        <mat-slide-toggle (click)="changeView()" style="margin: 15px;"></mat-slide-toggle>
                        <img src="assets/images/cards.png" width="20px">
                    </div>
                    <span style="font-size: 40px;text-shadow: 0px 0px 5px;">Books</span>
                </div>
                <div *ngIf="this.showTable">
                    <button mat-fab color="primary" class="add_btn" (click)="add()">+</button>
                    <div class="table_container">
                        <app-table [tableColumn]="this.booksTableColumns" [tableData]="this.booksTableData"
                            (deleteBook)="deleteBook($event)"></app-table>
                    </div>
                </div>
                <div *ngIf="!this.showTable">
                    <app-cards [tableColumn]="this.booksTableColumns" [tableData]="this.booksTableData">
                    </app-cards>
                </div>
            </mat-tab>







        </mat-tab-group>
    </section>
</div>