.header_img_div {
    height: 100%;
    background-image: url('/assets/images/admin6.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    box-shadow: 0px 0px 15px black;
    /* image-rendering: -webkit-optimize-contrast; */
}

@keyframes header-btn {
    0% {
        position: relative;
        left: 0%;
        top: 20%;
        transform: translate(-50%, -50%);
    }
    100% {
        position: relative;
        left: 10%;
        top: 20%;
        transform: translate(-50%, -50%);
    }
}

.header_btn {
    position: relative;
    left: 10%;
    top: 20%;
    transform: translate(-50%, -50%);
    height: 70px;
    width: 70px;
    box-shadow: 0px 0px 5px #e4e4e7;
    background-color: rgb(18, 13, 43);
    animation: header-btn 700ms;
}

.container {
    height: 100%;
    /* min-height: 100%; */
    /* background-color: #181818; */
}

.add_btn {
    position: relative;
    top: 150px;
    left: 20px;
    background-color: #614e82;
    font-size: 25px;
    font-weight: normal;
}

.table_header {
    width: 100%;
    text-align: center;
    font-size: 40px;
    /* color: white; */
    text-shadow: 0px 0px 5px;
}

.table_container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}