<main style="height: 100%;">
    <section style="height: 50%;">
        <div style="height: 100%;background-image: url('/assets/images/library.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;box-shadow: 0px 0px 15px black;">

            <app-navigation-bar></app-navigation-bar>

            <button mat-flat-button color="white"
                style="vertical-align:middle;letter-spacing: 7px;text-align: center; left: 50%;top: 50%; transform: translateX(-50%);height: 50px;">CONTACT</button>
        </div>
    </section>
    <section class="features_details_section" style="height: 100%;color: #323440;font-weight: bold;">
        <div style="height: 100%;display: flex;flex-direction: column;align-items: center;justify-content: space-evenly;">
            <h3 style="width: 200px; font-weight: normal;">
                <span>
                    OUR SERVICES
                </span>
            </h3>
            <div
                style="width: 80%;display: flex;flex-wrap: wrap;align-items: center;justify-content: center;">
                <div style="
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                 /* border: 0.5px solid blue; */
                  width: 250px;">
                    <img class="feature_img" src="assets/images/manage.png" width="20%">
                    <br>

                    Manage your libraries
                </div>
                <div style="
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                  width: 250px;">
                    <img class="feature_img" src="assets/images/follow.png" width="20%">
                    <br>
                    Follow your books
                </div>
                <div style="
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 250px;">
                    <img class="feature_img" src="assets/images/web-browser.png" width="25%">
                    <br>

                    Web application
                </div>
            </div>
        </div>
    </section>
    <section
        style="flex-wrap: wrap; display: flex;flex-direction: column;justify-content: center;align-items: center;padding: 15px; box-shadow: 0px 0px 15px black;height: 100%;background-color: rgb(34 33 33);">
        <div style="display: flex;width: 100%;height: 100%;justify-content: space-around;flex-wrap: wrap;">
            <div style="width: 400px;display: flex;justify-content: center;align-items: center;">
                <img src="/assets/images/network.jpg" height="80%" width="100%" style="border-radius: 25px;
            box-shadow: 0px 0px 15px black;">
            </div>
            <div style="justify-content: space-evenly; display: flex;flex-direction: column; padding:15px; width: 400px;color: #f5f5f5;">
                <span style="font-size: 40px;">
                    With our services you can perform operations from anywhere. 
                    <br>
                    <span style="font-size: 25px;">
                        at any time.
                    </span> 
                </span>
                <span style="text-shadow: 0px 0px 5px beige;">
                   <span>
                      &bull; Full control and monitoring of your system and all your products
                   </span>
                   <br>
                   <br>
                   <span>
                       &bull; Access data through a browser app
                   </span>
                </span>

            </div>

        </div>
    </section>
</main>