<div [ngSwitch]="status">

    <div *ngSwitchCase="'libraries'">
        <form [formGroup]="addLibraryFormGroup" autocomplete="off">
            <div style="display: flex;flex-direction: column;">
                <span class="dialog_span">NAME</span>
                <input formControlName="name" type="text" class="dialog_input" placeholder="Name">
                <span class="dialog_span">CITY</span>
                <input type="text" formControlName="city" class="dialog_input" placeholder="City">
                <button (click)="addLibrary()" class="dialog_btn">ADD LIBRARY</button>
            </div>
        </form>
    </div>

    <div *ngSwitchCase="'customers'">
        <form [formGroup]="addCustomerFormGroup">
            <div style="display: flex;flex-direction: column;">
                <span class="dialog_span">NAME</span>
                <input type="text" formControlName="name" placeholder="Name" class="dialog_input" [ngClass]="{warn:this.addCustomerFormGroup}">
                <span class="dialog_span">AGE</span>
                <input type="number" formControlName="age" placeholder="Age" class="dialog_input" >
                <span class="dialog_span">EMAIL</span>
                <input type="text" formControlName="email" placeholder="Email" class="dialog_input" >
                <span class="dialog_span">PASSWORD</span>
                <input type="text" formControlName="password" placeholder="Password" class="dialog_input" >
                <button (click)="addCustomer()" class="dialog_btn">ADD CUSTOMER</button>
            </div>
        </form>
    </div>

    <div *ngSwitchCase="'books'">
        <form [formGroup]="addBookFormGroup">
            <div style="display: flex;flex-direction: column;">
                <span class="dialog_span">NAME</span>
                <input type="text" formControlName="name" class="dialog_input" placeholder="Name">

                <mat-form-field appearance="fill"
                    style="width: 150px; left: 50%;transform: translateX(-50%); position: relative;">
                    <mat-label>Category</mat-label>
                    <mat-select formControlName="category" required placeholder="Category">
                        <mat-option *ngFor="let category of categories|keyvalue" value="category.value">
                            {{category.value}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <span class="dialog_span">PAGES</span>
                <input type="number" formControlName="pages" class="dialog_input" placeholder="Age">
                <span class="dialog_span">PRICE</span>
                <input type="number" formControlName="price" class="dialog_input" placeholder="Email">
                <span class="dialog_span">QUANTITY</span>
                <input type="number" formControlName="quantity" class="dialog_input" placeholder="Password">
                <button (click)="addBook()" class="dialog_btn" >ADD BOOK</button>
            </div>
        </form>
    </div>

    <div *ngSwitchCase="'customerBooks'">

    </div>

</div>