<div style="height: 100%;background-color: #323440;">
    <div class="container">
        <header class="header">
            <span>LOG IN</span>
        </header>
        <form [formGroup]="loginFormGroup" class="form">
            <input type="text" class="dialog_input" placeholder="user-email" formControlName="email" [ngClass]="{'warn':
            (this.loginFormGroup.controls.email.errors?.required&&this.loginFormGroup.controls.email.touched)||
            (this.loginFormGroup.controls.email.errors?.email&&this.loginFormGroup.controls.email.touched)}">
            <span
                *ngIf="this.loginFormGroup.controls.email.errors?.required&&this.loginFormGroup.controls.email.touched"
                class="warn_message">* email is required</span>
            <span *ngIf="this.loginFormGroup.controls.email.errors?.email&&this.loginFormGroup.controls.email.touched"
                class="warn_message">* please enter a valid
                email</span>
            <input type="password" class="dialog_input" placeholder="password" formControlName="password" [ngClass]="{'warn':(this.loginFormGroup.controls.password.errors?.required&&this.loginFormGroup.controls.password.touched)||
         (this.loginFormGroup.controls.password.errors?.minlength&&this.loginFormGroup.controls.password.touched)||
         (this.loginFormGroup.controls.password.errors?.maxlength&&this.loginFormGroup.controls.password.touched)}">
            <span
                *ngIf="this.loginFormGroup.controls.password.errors?.required&&this.loginFormGroup.controls.password.touched"
                class="warn_message">* password is required</span>
            <span
                *ngIf="this.loginFormGroup.controls.password.errors?.minlength&&this.loginFormGroup.controls.password.touched"
                class="warn_message">* password min
                chars : 5</span>
            <span
                *ngIf="this.loginFormGroup.controls.password.errors?.maxlength&&this.loginFormGroup.controls.password.touched"
                class="warn_message">* password max
                chars : 8</span>
            <br>
            <label style="color: #23bbe8;text-transform: uppercase;">Client Type : ***</label>
            <br>
            <select class="form_control" formControlName="clientType">
                <option *ngFor="let client of userType | keyvalue" [value]="client.value">{{client.value}}
                </option>
            </select>
            <span class="warn_message" *ngIf="
            this.loginFormGroup.controls.clientType.errors?.required&&this.loginFormGroup.controls.clientType.touched">
                * Please choose client type</span>
            <button *ngIf="!loading" [disabled]="this.loginFormGroup.invalid"
                [ngClass]="{'login_btn':this.loginFormGroup.invalid,'available': this.loginFormGroup.valid}"
                (click)="login()">LOG IN</button>
            <div *ngIf="loading" style="margin: 15px;" class="spinner-border" role="status">
            </div>
        </form>
    </div>
</div>