<div style="background-color: #f5f5f5;
padding: 50px;
width: 80%;
margin: auto;
justify-content: center;
min-height: 100vh;display: flex;flex-wrap: wrap;box-shadow: 0px 5px 15px rgb(184, 162, 162);">
    <div *ngFor="let obj of tableData" style="
    /* background-color: red; */
    width: 225px;
    height: 300px;
    margin: 20px;
    background-color: white;
    border: 2px solid rgb(208 208 208);
    border-radius: 4px; -webkit-box-shadow: 0 10px 6px -6px #777;
     -moz-box-shadow: 0 10px 6px -6px #777;
          box-shadow: 0 10px 6px -6px #777;">
          <span style="height: 50%;background-color: red; width: 100%;display: block;">image zone</span>
        <span style="display: block;padding: 15px;" *ngFor="let col of tableColumn">
            {{col+' : '+obj[col]}}
        </span>
    </div>
</div>