<div class="container">
    <section style="height: 350px;">
        <div class="header_img_div">
            <button mat-fab class="header_btn" (click)="goToHome()">
                <img src="assets/images/home_icon.png" width="50%">
            </button>
        </div>
    </section>
    <mat-tab-group mat-align-tabs="center">
        <mat-tab label="My Books">
            <div class="table_container">
                <span class="table_header">
                    My Books
                </span>
                <app-table [tableColumn]="this.booksTableColumn" [tableData]="this.booksTableData"></app-table>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>