<table>
    <thead>
        <th *ngFor="let col of tableColumn">{{col}}</th>
        <th>DELETE / EDIT</th>
    </thead>
    <tr *ngFor="let obj of tableData">
        <td *ngFor="let property of properties" (click)="getDetails(property,obj)">{{obj[property]}}</td>
        <td>
            <div class="operations_icons">
                <img src="assets/images/delete_icon.png" 
                (click)="delete(obj['id'])">
                <img src="assets/images/edit_icon.png" (click)="edit()">
            </div>
        </td>
    </tr>

</table>